
body {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

section, article, aside, nav, header, main, footer {
    display: block;
}

